
/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #bcb8b8;
    border-radius: 4px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0b0b0b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #717171;
}
